<div class="header">
  
   
   
  
<div class="navbar">
    <a href="#default" class="logo"><img src="assets/images/amplogo.png" alt=""></a>
    <a  class="active" href="#home">HOME</a>
    <a href="#home">ABOUT</a>
    
    <a href="#contact">PORTFOLIO</a>
   
    <a href="#news">BLOG</a>
  
    <div class="dropdown">
        <button class="dropbtn">SERVICES 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
           
          <div class="row">
            <div class="column">
              <ul>
              <li><a href="#">Link 1</a></li><br>
              <li><a href="#">Link 2</a></li><br>
             <li> <a href="#">Link 3</a></li>
              </ul>
            </div>
            <div class="column">
             
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            <div class="column">
            
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            <div class="column">
              
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>

          </div>
        </div>
      </div> 
      <a href="#home">CAREERS</a>
      <a href="#home">CONTACT</a>
 
    </div>
  </div>
  <!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
          <img id="i1" src="assets/images/Picture12.png" alt="">
        </div>
        <div class="col-sm-6"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
          <img id="i1" src="assets/images/Picture12.png" alt="">
        </div>
        <div class="col-sm-6"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
          <img id="i1" src="assets/images/Picture12.png" alt="">
        </div>
        <div class="col-sm-6"></div>
    </div>
</div> -->

  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-6">
            <img id="i1" src="assets/images/Picture12.png" alt="">
          </div>
          <div class="col-sm-6"></div>
      </div>
  </div>





  <div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                
               
                <div class="col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
               
                <!-- <div class="col-md-3 item" id="f1">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div> -->
              
                <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google"></i></a></div>
            </div>
            <p class="copyright">AMARAVATHI SOFTWARE INNOVATIONS PVT LTD</p>
        </div>
    </footer>
</div>
 