<div  [style.background-color]="'yellow'">helooo</div>
<p [style.background-color]="'yellow'">satya works!</p>
<button type="button" (click)="sat()">onclick</button>
<app-task></app-task>
<h2>{{num_var}}</h2>
<h3>{{this.string_var}}</h3>
<h2>{{bool_z}}</h2>
<h4  [style.background-color]="'green'">{{carray}}</h4>
<h5>{{carray1}}</h5>
<h1>{{ array_num}}</h1>
    <h2 [style.color]="'red'">{{array_string}}</h2>
    <h1 [style.size]="'10px'">{{Tsarray}}</h1>
    <h1>{{carray}}</h1>
    <h1>{{objvar|json}}</h1>
    <h2>{{objsat.name|json}}</h2>
    <h1>{{object_declare|json}}</h1>
   